<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Running Forecast</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h3 class="text-center">{{ .day }}</h3>
          <div class="row">
            <div class="d-none col-md-2 d-md-block">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-8">
              {{range .forecasts}}
                <div class="row align-items-center" style="border-bottom: 1px solid black; margin-bottom: 10px">
                  <div class="col-xs-6 col-3">
                    <h4>⏰ {{ .Time.Hour }}:00</h4>
                  </div><div class="col-xs-6 col-9">
                    <div class="row align-items-center">
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>{{ .Condition }} (☔️ {{ .PercpForecast }}%)</p>
                        <p>🌡 {{ .TempForecast.Temp }}&deg; / {{ .FeelsLikeForecast.FeelsLike }}&deg;</p>
                      </div><div class="col-sm-6 d-none d-sm-block">
                        <p>🌬 {{ .WindSpeedForecast.WindSpeed }} {{ .WindDirForecast.WindDir }}</p>
                        <p>{{ .Humidity }}%</p>
                      </div>
                    </div>
                  </div>
                </div>
              {{end}}
            </div>
            <div class="d-none col-md-2 d-md-block">
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
